.form-group {
      padding: 20px;
      margin-bottom: 0px;
  }
  .form-group textarea {
      width: 100%;
  }
  .form-group .btn-sm {
      margin-top: 20px;
      float: right;
      background-color: darkturquoise;
      color: white;
      font-weight: bold;
  }